:root {
  --doc-height: 100%;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-display: block;
  font-size: 18px;
  margin: 4rem;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Satoshi', sans-serif;

  @media (max-width: 768px) {
    margin: 1rem;
  }
}
