.doto {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

.cutive {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}
